* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #fdf6e3;
    border-bottom: 3px solid #eee8d5;
    color: #657b83;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #657b83;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #eee8d5;
    box-shadow: inset 0 -3px #dfdac8;
}

#workspaces button.focused {
    background-color: #cb4b16;
    color: #fdf6e3;
    box-shadow: inset 0 -3px #bf4615;
}

#workspaces button.urgent {
    background-color: #dc322f;
	box-shadow: inset 0 -3px #cf2f2c;
    color: #fdf6e3;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-keyboard,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
	
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #839496;
    color: #fdf6e3;
    border-bottom: 3px solid #7b8b8d;
}

#battery {
    background-color: #fdf6e3;
    border-bottom: 3px solid #eee8d5;
    color: #657b83;
}

#battery.charging {
    color: #fdf6e3;
    background-color: #cb4b16;
	border-bottom: 3px solid #bf4615;
}

@keyframes blink {
    to {
        background-color: #fdf6e3;
        color: #657b83;
		border-bottom: 3px solid #eee8d5;
    }
}

#battery.critical:not(.charging) {
    background-color: #dc322f;
    color: #fdf6e3;
    border-bottom: 3px solid #cf2f2c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #859900;
    border-bottom: 3px solid #7d8f02;
    color: #fdf6e3;
}

#memory {
    background-color: #6c71c4;
    color: #fdf6e3;
	border-bottom: 3px solid #656ab8;
}

#backlight {
    background-color: #839496;
	color: #fdf6e3;
	border-bottom: 3px solid #7b8b8d;
}

#network {
    background-color: #268bd2;
    border-bottom: 3px solid #2482c5;
	color: #fdf6e3;
}

#network.disconnected {
    background-color: #dc322f;
    border-bottom: 3px solid #cf2f2c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #002b36;
    border-bottom: 3px solid #e2b80f;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #fdf6e3;
    /*color: #fdf6e3;*/
    border-bottom: 3px solid #eee8d5;

}

#idle_inhibitor {
    background-color: #002b36;
	color: #839496;
	border-bottom: 3px solid #022833;
}

#idle_inhibitor.activated {
    background-color: #cb4b16;
    border-bottom: 3px solid #bf4615;
    color: #fdf6e3;
}

#custom-keyboard {
	background-color: #cb4b16;
	border-bottom: 3px solid #bf4615;
	color: #fdf6e3;
}

#mpd {
    background-color: #859900;
    color: #fdf6e3;
    border-bottom: 3px solid #7d8f02;
}

#mpd.disconnected {
    background-color: #dc322f;
    border-bottom: 3px solid #cf2f2c;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
