* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #f2e5bc;
    border-bottom: 3px solid #d5c4a1;
    color: #3c3836;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #3c3836;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #d5c4a1;
    box-shadow: inset 0 -3px #bdae93;
}

#workspaces button.focused {
    background-color: #d65d0e;
    color: #f2e5bc;
    box-shadow: inset 0 -3px #af3a03;
}

#workspaces button.urgent {
    background-color: #cc241d;
	box-shadow: inset 0 -3px #9d0006;
    color: #f2e5bc;
}

#mode {
    background-color: #928374;
    border-bottom: 3px solid #7c6f64;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-keyboard,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
	
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #928374;
    color: #f2e5bc;
    border-bottom: 3px solid #7c6f64;
}

#battery {
    background-color: #f2e5bc;
    border-bottom: 3px solid #d5c4a1;
    color: #657b83;
}

#battery.charging {
    color: #f2e5bc;
    background-color: #d65d0e;
	border-bottom: 3px solid #af3a03;
}

@keyframes blink {
    to {
        background-color: #f2e5bc;
        color: #657b83;
		border-bottom: 3px solid #d5c4a1;
    }
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #f2e5bc;
    border-bottom: 3px solid #9d0006;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #98971a;
    border-bottom: 3px solid #79740e;
    color: #f2e5bc;
}

#memory {
    background-color: #b16286;
    color: #f2e5bc;
	border-bottom: 3px solid #8f3f71;
}

#backlight {
    background-color: #928374;
	color: #f2e5bc;
	border-bottom: 3px solid #7c6f64;
}

#network {
    background-color: #458588;
    border-bottom: 3px solid #076678;
	color: #f2e5bc;
}

#network.disconnected {
    background-color: #cc241d;
    border-bottom: 3px solid #9d0006;
}

#pulseaudio {
    background-color: #d79921;
    color: #3c3836;
    border-bottom: 3px solid #b57614;
}

#pulseaudio.muted {
    background-color: #928474;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #f2e5bc;
    /*color: #f2e5bc;*/
    border-bottom: 3px solid #d5c4a1;

}

#idle_inhibitor {
    background-color: #3c3836;
	color: #a89984;
	border-bottom: 3px solid #282828;
}

#idle_inhibitor.activated {
    background-color: #d65d0e;
    border-bottom: 3px solid #af3a03;
    color: #f2e5bc;
}

#custom-keyboard {
	background-color: #d65d0e;
	border-bottom: 3px solid #af3a03;
	color: #f2e5bc;
}

#mpd {
    background-color: #98971a;
    color: #f2e5bc;
    border-bottom: 3px solid #79740e;
}

#mpd.disconnected {
    background-color: #cc241d;
    border-bottom: 3px solid #9d0006;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
