set virtual_spoolfile
virtual-mailboxes "INBOX" "notmuch://?query=folder:INBOX"
virtual-mailboxes "GitHub" "notmuch://?query=folder:GitHub"
virtual-mailboxes "Archive" "notmuch://?query=folder:Archive"
virtual-mailboxes "Sent" "notmuch://?query=folder:Sent"
virtual-mailboxes "Drafts" "notmuch://?query=folder:Drafts"
virtual-mailboxes "Trash" "notmuch://?query=folder:Trash"
virtual-mailboxes "Spam" "notmuch://?query=folder:Spam"

