set pgp_default_key="0x93F45D8FC475D302"
set pgp_sign_as="0x40CEDD6986F3B143"


set crypt_use_gpgme=yes
set crypt_autosign=yes
set crypt_verify_sig=ask-yes
set crypt_replysign=yes
set crypt_replyencrypt=yes
set crypt_replysignencrypted=yes
set crypt_autoencrypt = yes
