set pgp_default_key="0x1F0BCBA69E7D974D"
set pgp_sign_as="0x342661C4F68CD06D"


set crypt_use_gpgme=yes
set crypt_autosign=yes
set crypt_verify_sig=ask-yes
set crypt_replysign=yes
set crypt_replyencrypt=yes
set crypt_replysignencrypted=yes
set crypt_autoencrypt = yes
